/* ==============================
Reveal Animation
============================== */

.reveal{

opacity:0;

transform:translateY(70px);

transition:

opacity .9s ease,

transform .9s ease;

}

.reveal.active{

opacity:1;

transform:none;

}


.menu-toggle.active span:nth-child(1){

transform:translateY(8px) rotate(45deg);

}

.menu-toggle.active span:nth-child(2){

opacity:0;

}

.menu-toggle.active span:nth-child(3){

transform:translateY(-8px) rotate(-45deg);

}


@keyframes float{

0%{

transform:

translateY(0)

rotate(0deg);

}

50%{

transform:

translateY(-14px)

rotate(5deg);

}

100%{

transform:

translateY(0)

rotate(0deg);

}

}


.btn-primary{

transition:.35s;

}

.btn-primary:hover{

    transform:translateY(-3px);

    box-shadow:
        0 18px 45px rgba(124,58,237,.35);

}

.btn-outline:hover{

    background:var(--hero-primary);

    color:#fff;

}



.hero-left{

    animation:fadeLeft .8s ease;

}

.hero-right{

    animation:fadeRight .8s ease;

}

@keyframes fadeLeft{

    from{

        opacity:0;
        transform:translateX(-40px);

    }

    to{

        opacity:1;
        transform:none;

    }

}

@keyframes fadeRight{

    from{

        opacity:0;
        transform:translateX(40px);

    }

    to{

        opacity:1;
        transform:none;

    }

}


.coin{

    animation:float 5s ease-in-out infinite;

}

@keyframes float{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

}

.float-btn{

    animation:pulse 2.5s infinite;

}

@keyframes pulse{

0%{

box-shadow:0 0 0 0 rgba(108,59,255,.35);

}

70%{

box-shadow:0 0 0 18px rgba(108,59,255,0);

}

100%{

box-shadow:0 0 0 0 rgba(108,59,255,0);

}

}