/* ==========================================

Base Reset

========================================== */

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body {
    
    font-family: "Poppins", sans-serif;
    
    background: #F8F9FD;
    
    color: #161616;
    
    overflow-x: hidden;
    
    position: relative;
    
}
/* img{

    display:block;

    max-width:100%;

} */

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

button{

    border:none;

    cursor:pointer;

}

.container{

    width:90%;

    max-width:var(--container);

    margin:auto;

}

